---
layout: default
title: dlee.io blog of @dlee_io
---

Just another blog by a guy:
<ul>
  <li>Software architect: <a href="http://lucid-operations.com">LucidOperations</a> is my day job</li>
  <li>Recovering knife knut, still with an excessive collection of knives and swiss army knives. I'm partial to Victorinox, Spyderco, and Zero Tolerance knives.
  <li>WIS (watch idiot savant) in remission, also still with a (now very slowly growing) collection of mostly military themed watches.</li>
  <li>General EDC (EveryDay Carry), light, and tool enthusiast.</li>
  <li>Interested in the technical and the fun aspects of skiing.</li>
  <li>Amateur weightlifter with emphasis on the Big Four (Squat, Deadlift, Benchpress, and Press) and Olympic Two (Clean & Jerk and Snatch) and old style weightlifting (bent press, turkish get up etc.).</li>
  <li>Movie and book enthusiast, old and new, as long as they're good.</li>
  <li>Society in general and specifically U.S. and Korean society.</li>
</ul>

<p>

<p><a href="https://twitter.com/intent/tweet?screen_name=dlee_io" class="twitter-mention-button" data-show-count="false">tweet any thoughts or comments to me @dlee_io</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>.


<h3>Recent Posts</h2>
<hr>

{% for post in paginator.posts %}

	<article class="post">

		{% if post.external-url %}
			<h1>
				<a href="{{ post.external-url }}">{{ post.title }}</a>
				<a class="anchor" href="{{ post.url }}"><i class="icon-anchor"></i></a>
			</h1>
		{% else %}
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		{% endif %}

		<div class="post-content">{{ post.content }}</div>

	</article>

{% endfor %}


{% if paginator.total_pages > 1 %}
	<div class="postnavigation">

		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="prev left" href="/">&larr; Newer</a>
			{% else %}
				<a class="prev left" href="/page{{paginator.previous_page}}/">&larr; Newer</a>
			{% endif %}
		{% else %}
			<span class="nope left">&larr; Newer</span>
		{% endif %}

		<span class="pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a class="next right" href="/page{{paginator.next_page}}/">Older &rarr;</a>
		{% else %}
			<span class="nope right">Older &rarr;</span>
		{% endif %}

	</div>
{% endif %}
